{% extends 'base.html' %}

{% block content %}

<h1>HOME PAGE</h1>


{% if api %}

	{% if api == "Error" %}
		There was an error, please try again...
	{% else %}

		<div class="jumbotron {{ category_color }}">
		  <p>DATE: {{ api.0.DateObserved }}</p>
		  <h1 class="display-4">{{ api.0.Category.Name }}</h1>
		  <p class="lead">{{ api.0.ReportingArea }} AIR QUALITY: {{ api.0.AQI }}</p>

		  <p>{{ category_description }}</p>

		  

		  <a class="btn btn-primary btn-lg" href="https://www.airnow.gov/aqi/" role="button">Learn more about air quality</a>
		</div>

		

	{% endif %}

{% endif %}


{% endblock %}

